html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	width: 100%;
	font
}
ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.content{
	margin: 0 60px;
}



/*HEADER*/
header{
	background: #000;
}
header .logo{
	margin: 11px 0;
}
header .menu{
	display: none;
}
header .navv{
	margin: 0;
}
header .navv li{
	display: inline-block;
    margin: 0 0 5px;	
}
header .navv li:last-child{
	margin: 0;
}
header .navv li a{
	display: block;
	color: #fff;
	font-size: 14px;
	padding: 14px 20px;
	border-right: 1px solid #4c4c4c;
	text-decoration: none;
}
header .navv li a:hover{
	text-decoration: none;
	color: #FFA066;
}
header .navv li:first-child a{
	padding-left: 0;
}
header .navv li:last-child a{
	padding-right: 0;
	border: 0;
}



/*SECTION*/
.section-block1{
	background: url(../images/top-img.png) no-repeat;
	min-height: 475px;
	position: relative;
}
.section-block1 h1{
	padding: 25px 60px;
    font-size: 24px;
    color: #fff;
    background: rgba(71,27,0,0.3);
    position: absolute;
    bottom: 160px;
    margin: 0;
}
.section-block1 form{
	position: absolute;
	bottom: 150px;
	right: 60px;
	padding: 20px 30px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.7);
}
.section-block1 form h2{
	font-size: 18px;
	color: #fff;
	margin: 0 0 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #4c4c4c;
	text-align: center;
}
.section-block1 form p{
	color: #fff;
	margin: 0;
}
.section-block1 form input{
	display: block;
	min-width: 280px;
	width: 90%;
	margin-bottom: 15px;
	height: 35px;
	background: #000;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 5px;
    outline-color: #fdbb94;	
}
.section-block1 form .sb1sub{
	background: #ffa066;
	color: #fff;
	outline: none;
}
.section-block1 form .sb1sub:hover{
	background: #ff8655;
}
.section-block{
	text-align: center;
}
.section-block h3{
	margin: 35px 0 10px;
	font-size: 22px;
}
.section-block .cap-action{
	color: #ff0000;
	font-size: 32px;
}
.section-block b{
	display: block;
	margin: 0 auto 25px;
	width: 70%;
	max-width: 400px;
	height: 1px;
	border-bottom: 1px solid #a9a9a9;
}
.section-block .cat-block{
	display: inline-block;
	width: 31%;
	min-width: 290px;
	box-sizing: border-box;
	padding: 30px;
	border: 1px solid #b5b5b5;
	background: #eaeaea;
}
.section-block .cat-block p{
	font-size: 16px;
	margin: 10px 0;
}
.section-block .cat-block .price{
	margin-left: 20px;
	font-size: 24px;
	clear: both;
}
.section-blockwold .cat-block .price{
	margin-left: 5px;
}
.section-blockwold .cat-block .old-price{
	font-size: 16px;
    margin: 10px 5px 0 10px;
    position: relative;
    color: #aaa;    
}
.section-blockwold .cat-block .old-price:before{
	content: '';
    display: block;
    position: absolute;
    width: 100%;
    border-top: 1px solid #aaa;
    transform: rotate(10deg);
    margin: 10px 0 0;
}
.section-block .cat-block button{
	margin-right: 20px;
	padding: 10px 45px;
	color: #fff;
	border: none;
	background: #ffa066;
	cursor: pointer;
	outline: none;
}
.section-block .cat-block button:hover{
	background: #ff8655;
}
.section-block .cat-block1{
	margin-right: 10%;
}
.section-block .cat-block a{
	max-width: 290px;
	width: 100%;
	height: 250px;
	display: block;
    margin: 0 auto;	
}
.section-block .cat-block a div{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}
.section-block .cat-block a div span{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 16px;
}
.section-block .cat-block a div b{
    position: absolute;
    width: 120px;
    height: 1px;
    display: block;
    border-bottom: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0 0;
}
.section-block .cat-block1 a{
	background: url(../images/img1.png) center center no-repeat;
}
.section-block .cat-block2 a{
	background: url(../images/img2.png) center center no-repeat;
}
.section-block .cat-block3 a{
	background: url(../images/img3.png) center center no-repeat;
}
.section-block .cat-block4 a{
	background: url(../images/img4.png) center center no-repeat;
}
.section-block .cat-block5 a{
	background: url(../images/img5.png) center center no-repeat;
}
.section-block .cat-block6 a{
	background: url(../images/img6.png) center center no-repeat;
}
.section-block .cat-block7 a{
	background: url(../images/img7.png) center center no-repeat;
}
.section-block .cat-block8 a{
	background: url(../images/img8.png) center center no-repeat;
}
.section-block .cat-block a:hover div{
	display: block;
	background: rgba(0,0,0,.5);
}
.section-block .cat-block img{
	width: 100%;
	max-width: 290px;
	height: auto;
}
.section-block .arrows, .sec-block .arrows{
	position: relative;
	text-align: center;
	margin-top: 15px;
	z-index: 10;
}
.sec-block .arrows{
	margin-top: -26px;
}
.section-block .arrows a, .sec-block .arrows a{
	display: inline-block;
	width: 51px;
	height: 51px;
	margin: 0 10px;
}
.section-block .arrows i, .sec-block .arrows i{
	display: block;
	border-bottom: 1px solid #a9a9a9;
	margin-top: -30px;
}
.section-block .arrows .down, .sec-block .arrows .down{
	background: url(../images/down.png) center center no-repeat;
}
.section-block .arrows .up, .sec-block .arrows .up{
	background: url(../images/up.png) center center no-repeat;
}
.section-block .arrows .down:hover, .section-block .arrows .down:active, .sec-block .arrows .down:hover, .sec-block .arrows .down:active{
	background: url(../images/down-hover.png) center center no-repeat;
}
.section-block .arrows .up:hover, .section-block .arrows .up:active, .sec-block .arrows .up:hover, .sec-block .arrows .up:active{
	background: url(../images/up-hover.png) center center no-repeat;
}
.sec-block{
	position: relative;
}
.sec-block img{
	width: 100%;
	height: auto;
}
.sec-block h4{
	position: absolute;
	bottom: 15%;
	width: 50%;
	color: #fff;
	background: rgba(71,27,0,0.3);
	padding: 25px 25px 25px 60px;
	font-size: 24px;
}
.sec-block .price{
	position: absolute;
	bottom: 15%;
	right: 60px;
	text-align: right;
	width: 300px;
}
.sec-block .price span{
	font-size: 40px;
	color: #fff;
}
.sec-block .price button{
	width: 100%;
	max-width: 140px;
	padding: 10px 0;
    color: #fff;
    border: none;
    background: #ffa066;
    cursor: pointer;
    outline: none;
}
.sec-block .price button>a{
	color: #fff;
	text-decoration: none;
}
.sec-block .price button:hover{
	background: #ff8655;
}
.advantages .advantages-block{
	display: inline-block;
	width: 27%;
	min-width: 280px;
	margin: 0 1%;
}
.advantages .advantages-block h5{
	font-size: 18px;
}
.advantages .advantages-block a{
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background: #fff;
	border-radius: 50%;
}
.advantages .advantages-block a img{
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);	
}
.gallery{
	background: url(../images/gallery-bg.png) center center no-repeat;
	background-size: cover; 
}
.gallery .content h3{
	color: #fff;
	margin-top: 0;
	padding-top: 55px;
}
.gallery .gallery-block{
	display: inline-block;
	width: 27%;
	margin: 1%;
	min-width: 290px;
}
.gallery .gallery-block img{
	width: 100%;
	height: auto;
}
.dellivery .dellivery-block{
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
.dellivery .dellivery-block1{
	text-align: left;
	margin-right: 5%;
}
.dellivery .dellivery-block1 h6{
	font-size: 18px;
	margin: 15px 0 5px; 
}
.dellivery .dellivery-block1 p{
	font-size: 16px;
	margin: 0;
}
.dellivery .dellivery-block2 h6{
	font-size: 18px;
	margin: 15px 0 5px;
	text-align: left;
}
.dellivery .dellivery-block2 input{
    width: 48%;
    height: 35px;
	border: none;
	background: #e8e8e8;
	padding: 5px 5px 5px 10px;
	outline-color: #fdbb94;
}
.dellivery .dellivery-block2 input::-webkit-input-placeholder, .dellivery .dellivery-block2 textarea::-webkit-input-placeholder{
	color: #000;
	font-style: italic;
}
.dellivery .dellivery-block2 .nameinp{
	float: 	left;
}
.dellivery .dellivery-block2 .numbinp{
	float: right;
}
.dellivery .dellivery-block2 textarea{
	width: 100%;
	border: none;
	background: #e8e8e8;
	margin-top: 20px;
	padding: 5px 5px 5px 10px;
	outline-color: #fdbb94;
}
.dellivery .dellivery-block2 button{
	width: 100%;
    max-width: 140px;
    padding: 10px 0;
    color: #fff;
    border: none;
    background: #ffa066;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.dellivery .dellivery-block2 button:hover{
    background: #ff8655;	
}



/*FOOTER*/
footer{
	background: #000;
}
footer .footer-block{
	display: inline-block;
	vertical-align: middle;
	width: 33%;
	text-align: center;
	padding: 40px 0 20px;
}
footer .footer-block p{
	color: #fff;
}
footer .footer-block a{
	text-decoration: none;
	color: #fff
}
footer .footer-block3 span{
	padding-left: 5px;
}
#toTop{
	width: 60px;
	height: 60px;
	text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
    z-index: 999;
}
#toTop img{
	width: 100%;
	height: auto;
}



/*MODAL*/
.bs-example-modal-lg, .bs-example-modal-lg1, .bs-example-modal-sm, .bs-example-modal-sm1{
	padding-right: 0!important;
}
.modal-content{
	box-sizing: border-box;
	padding: 40px;
	position: relative;
}
.modal-content .close{
	position: absolute;
	top: 5px;
	right: 10px;
	outline: none;
}
.modal-content h3{
	margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
}
.modal-content b{
	display: block;
    margin: 0 auto 25px;
    width: 70%;
    max-width: 400px;
    height: 1px;
    border-bottom: 1px solid #a9a9a9;
}
.modal-content .bought-block{
	width: 55%;
}
.modal-content .bought-block2-2{
	margin-top: 30px;
	width: 100%;
}
.modal-content .bought-block1{
	width: 40%;
	box-sizing: border-box;
	padding: 16px;
	background: #eaeaea;
	border: 1px solid #b4b4b4;
	text-align: center;
}
.modal-content .bought-block1 img{
	width: 100%;
	max-width: 290px;
	height: auto;
}
.modal-content .bought-block1 p{
	font-size: 16px;
	margin: 15px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #b5b5b5;
}
.modal-content .bought-block1 span{
	font-size: 22px;
}
.modal-content .modinp{
	font-size: 16px;
    padding: 5px;
    height: 35px;
    border: 1px solid #fdbb94;   
    outline: none; 
}
.modal-content .bought-block2 .inpfull{
	width: 100%;
}
.modal-content .bought-block2 input::-webkit-input-placeholder{
	font-style: italic;
}
.modal-content .bought-block2 h6{
	font-size: 18px;
}
.modal-content .bought-block2 ol{
	margin: 0;
	padding: 0 0 0 20px;
}
.modal-content .bought-block2 ol .forcol{
	display: inline-block;
}
.modal-content .bought-block2 ol li{
	list-style: inherit;
	font-size: 16px;
	padding-left: 10px;
    margin: 5px 0;	
}
.modal-content input[type=radio], .modal-content input[type=checkbox]{
	display: none;
}
.modal-content input + label, .modal-content input:checked + label{
	display: inline-block;
	width: auto;
	margin-right: 14px;
    height: 20px;
    padding-left: 20px;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.modal-content input + label{
	background-position: -5px -53px;
}
.modal-content input:checked + label{
	background-position: -5px -77px;
}
.modal-content .bought-block2 ol li select{
	margin-left: 15px;
	min-width: 120px;
}
.modal-content .bought-block2 ol li p span{
	font-size: 10px;
}
.modal-content .bought-block2 ol .list3 label{
	margin-top: 10px;
}
.modal-content .bought-block2 ol .list3 .right{
	min-width: 220px
}
.modal-content .bought-block2>input{
	width: 47%;
}
.modal-content textarea.modinp{
	width: 100%;
	height: 70px;
	margin-top: 10px;
}
.modal-content .modorder{
	width: 20%;
	min-width: 100px;
	height: 35px;
	margin-top: 10px;
	background: #ffa066;
	border: none;
	color: #fff;
	outline: none;
    clear: both;	
}
.modal-content .modorder:hover{
	background: #ff8655;
}
.mod-2 span{
    font-size: 16px;
    display: inline-block;
    margin-right: 50px;
}
.mod-2 input{
	width: 48%;
}
.mod-3 p img, .mod-3 p span{
	display: inline-block;
	vertical-align: middle;
}
.mod-3 p img{
	width: 35%;
	max-width: 56px;
	height: auto;
}
.mod-3 p span{
	width: 60%;
}
.modal .modal-sm, .modal .modal-sm1{
	max-width: 300px;
	margin: 10px auto;
}





















@media (max-width: 1124px){
	.content{
		margin: 0 40px;
	}
	header .menu{
		display: inline-block;
		margin: 4px -10px 0 0;
		padding: 10px;
	}
	header .menu:hover{
		background: #444;
		border-radius: 2px;
	}
	header .navv{
		display: none;
		margin: 0 0 20px;
	}
	header nav.right{
		float: none;
		clear: both;
		text-align: center;
	}
	header .navv li{
		display: block;
	}
	header .navv li:hover{
		background: #444;
		border-radius: 2px;
	}
	header .navv li a{
		border: 0;
		padding: 0;
	}
	header .navv li a:hover{
		text-decoration: none;
	}
	.section-block1{
		min-height: auto;
		background: url(../images/top-img-filter.png) no-repeat;
	    background-size: cover;	
	}
	.section-block1 h1, .section-block1 form{
		position: initial;
		text-align: center;
		margin: 0 60px 20px;
		background: none;
		padding: 0;
	}
	.section-block1 form input{
		margin: 15px auto;
	}
}
@media (max-width: 992px){
	.modal .modal-lg, .modal .modal-lg1{
		width: 95%;
	    margin: 10px auto;	
	}
	.modal-content{
		padding: 20px;
	}
}
@media (max-width: 900px){
	footer .footer-block{
		width: 49%;
	}
	footer .footer-block3{
		display: block;
		width: 100%;
	}
	.modal-content .bought-block2 ol .list3 .forcol{
		display: block;
	}
}
@media (max-width: 800px){
	.dellivery .dellivery-block{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.liinp{
		float: none;
		width: 100%;
	}
}
@media (max-width: 750px){
	.section-block .cat-block{
		width: 100%;
		margin: 20px auto;
		display: block;
		max-width: 400px;
	}
	.sec-block h4{
		width: 100%;
		top: 10%;
		bottom: auto;
	}
	.sec-block .price{
		width: 100%;
		right: auto;
	}
	.sec-block .price span{
		float: left;
		margin-left: 10px;
		font-size: 30px;
	}
	.sec-block .price button{
		float: right;
		margin-right: 10px;
		text-align: center;
	}
}
@media (max-width: 640px){
	.modal-content .bought-block{
		display: block;
		width: 100%;
		margin: 10px 0;
	}
}
@media (max-width: 600px){
	.content{
		margin: 0 10px;
	}
	.section-block1 h1, .section-block1 form{
	    margin: 0 10px 20px;	
	}
	.sec-block h4{
		width: 100%;
		top: 10%;
		bottom: auto;
		padding: 10px;
	    font-size: 12px;	
	}
}
@media (max-width: 600px){
	.section-block .cat-block .price{
		margin-left: 0px;
	}
	.section-block .cat-block button{
		margin-right: 0px;
	}
	footer .footer-block{
		display: block;
		width: 100%;
		padding: 10px 0;
	}
	footer .footer-block1{
		padding-top: 40px;
	}
	.mod-2 span{
		margin-right: 0;
	}
}
@media (max-width: 480px){
	.mod-2 span{
		display: block;
	}
	.mod-2 input{
		width: 100%;
		margin: 5px 0;
	}
}
@media (max-width: 400px){
	.modal-content .bought-block2 ol li>span{
		display: block;
	}
}